/* <!-- -------- Google Font Roboto -------- --> */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
}
.btn {
    border: transparent;
    border-radius: 1em;
}

        /* ----- Nav Section ----- */
        
.navbar {background-color: white;
    font-weight: bolder;
}

        /* ----- Header Section ----- */

#home {
    margin-top:2em;
    margin-bottom: 2em;
    background-color: #F8EAC7;
    border-radius: 1em;
}        
.head-item {
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.head-item-info {
    padding: 2em 2em;
}
.head-item h1{
    font-weight: bolder;
}
.head-item h2{
    color: #0060aa;
}
.head-item-img {
    padding: 2em;
    width: auto;
    height: 15em;
    align-items: center;
    justify-items: center;
}
.head-item-img img {
    /* width: 100%; */
    height: 100%;
    align-self: center;
    
}




        /* ----- Categorie Section ----- */

.card {
    border: transparent;
    border-radius: 1em;
}
.categoie-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

        /* ----- Product Section ----- */
#product {
    background-color: #F8EAC7;
}
.product-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.product .card {
    display: flex;
    justify-content: space-between;
}

        /* ----- Contact Section ----- */

.contact-section {
    margin: 4em 0.5em;

}
.contact-section .row {
    padding: 4em 0.5em;
    background-color: #F8EAC7;
    border-radius: 1em;
}
input {
    border: transparent;
    border-radius: 1em;
}