/* <!-- -------- Google Font Roboto -------- --> */
    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
    margin: 0%;
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: none;
}
.btn {
    border: transparent;
    border-radius: 1em;
}
.card {
    border: transparent;
    border-radius: 1em;
}

        /* ----- Nav Section ----- */
.navbar {background-color: white;
    font-weight: bolder;
}
        /* ----- Header Section ----- */

        /* ----- Categorie Section ----- */

.categoie-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

        /* ----- Product Section ----- */
main {
    background-color: #F8EAC7;
}
.product-item {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.product .card {
    display: flex;
    justify-content: space-between;
}

        /* ----- Contact Section ----- */

.contact-section {
    margin: 4em 0.5em;

}
.contact-section .row {
    padding: 4em 0.5em;
    background-color: #F8EAC7;
    border-radius: 1em;
}
input {
    border: transparent;
    border-radius: 1em;
}